<html>
  <head>
    <title>Two Way Binding</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script type="text/javascript">
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope) {
      $scope.name = "John doe";

      $scope.changeName = function() {
        $scope.name="RP";
      }
    });
    </script>

    <style type="text/css">
    input.ng-invalid {
      background-color: red;
    }

    input.ng-valid {
      background-color: green;
    }
    </style>
  </head>

  <body>
    <form ng-app="myApp" ng-controller="myCtrl" name="myForm">
    <div>
      Name: <input type="text" ng-model="name">
      <h1>You entered </h1><h2>{{name}}</h2>

      <input type="button" value="click here" ng-click="changeName();"/>
    </div>


  </form>
  </body>
</html>
